/* common */
.card {
  border-radius: 15px !important;
}
.card .card-title {
  font-size: 20px;
  color: #222222;
  text-transform: unset;
}
.bg-danger-light {
  background: #fc3c3c1a;
}
.bg-success-light {
  background: #66d18424;
}
.bg-warning-light {
  background: #feb8311a;
}
.bg-purple {
  background: #a394fd;
}
.border-purple {
  border-color: #a394fd !important;
}

.table__border__radius {
  border-radius: 12px;
}

/* navbar */
.navbar .navbar-brand-wrapper {
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  width: 60px;
  border-right: none;
}

.navbar .navbar-menu-wrapper {
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 60px);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search {
  margin-left: auto;
  width: 256px !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group {
  background: #fff;
  border-radius: 4px;
  padding: 0 0.75rem;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-search
  .input-group
  input {
  font-size: 12px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator i {
  font-size: 1rem;
}
.dropdown .dropdown-toggle:after {
  display: none;
}
/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  background: #a394fd;
  padding: 20px 0;
  width: 0;
  z-index: 1040;
  border-radius: 0 20px 20px 0;
  border-right: none;
  overflow: hidden;
}
.sidebar .logo__wrapper {
  display: block;
}
.sidebar .brand__logo {
  width: 46px;
  height: 46px;
}

.sidebar__backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 0;
  height: 0;
  z-index: 1039;
}
.sidebar-icon-only .sidebar__backdrop {
  display: block;
}

.sidebar .nav:not(.sub-menu) {
  margin-top: 1rem;
}

.sidebar .nav:not(.sub-menu) > .nav-item {
  border-bottom: none;
  margin-top: 0;
}

.sidebar .nav .nav-item.active > .nav-link i,
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link .menu-arrow {
  color: #fff;
}

.main-panel {
  width: 100%;
}

.content-wrapper {
  padding: 40px;
  background: #f6f7fb;
}
.stats__card {
  border: none;
  border-left: 1px solid;
}
.stats__card .title {
  color: #222222;
}
.stats__card .percentage__badge {
  font-size: 10px;
  width: 30px;
  height: 20px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.stats__card .value {
  color: #c5c5c5;
}
.stats__card .stats__card__icon {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table .table__product__image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 2px;
}

@media (min-width: 992px) {
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 60px;
  }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 60px);
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-icon-only .sidebar {
    width: 100px;
    display: block;
  }
  .sidebar-icon-only .sidebar__backdrop {
    width: 100vw;
    height: 100vh;
  }
  .sidebar-icon-only .main-panel {
    width: 100vw;
  }
}

@media screen and (max-width: 991px) {
  .sidebar .brand__logo {
    width: 30px;
    height: 30px;
  }
  .sidebar-icon-only .sidebar-offcanvas {
    left: 0;
    overflow: visible;
    max-height: 100vh;
    top: 0;
    width: 70px;
  }
  .sidebar-icon-only .sidebar__backdrop {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  .navbar
    .navbar-brand-wrapper
    .navbar-brand-inner-wrapper
    .navbar-toggler:not(.navbar-toggler-right) {
    display: block;
  }
  .sidebar .nav .nav-item .nav-link {
    padding: 1rem;
  }
}
